*~
.tramp_history

######################
# Temporary files
######################

*#*

######################
# Python
######################

*.pyc

######################
# Images
######################

*.png

#######################
# Instrument Data files
#######################

*.s1p
*.s2p
*.s3p
*.s4p